SESSION_DRIVER=cookie

# nest api
NEXT_PUBLIC_API_URL=http://localhost:8001
NEXT_PUBLIC_UPLOAD_BASE=http://localhost:8001

# laravel api
# NEXT_PUBLIC_API_URL=http://localhost:8000
# NEXT_PUBLIC_UPLOAD_BASE=http://localhost:8000

# NEXT_PUBLIC_API_URL=https://api.zelton.co.in
# NEXT_PUBLIC_UPLOAD_BASE=https://api.zelton.co.in

NEXT_PUBLIC_GOOGLE_CLIENT_ID=470842240344-3a3rgpa8iepca97mk57s8nekdipah3e2.apps.googleusercontent.com

# Cashfree Mode ("sandbox" for Local/Test, "production" for Live)
NEXT_PUBLIC_CASHFREE_MODE=production